@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  position: relative;
  color: #1E1E1F;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0E1F55;
}

body::before {
  z-index: -1;
  content: "";
  background-image: url('./img/bg.png');
  background-size: cover;
  position: absolute;
  background-position: center;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  filter: grayscale(100%) blur(2px);
  opacity: 10%;
}

h1{
  text-align: center;
  padding-top: 0.5rem;
  color: #0986F1;
}

.flex-container {
  background-color: #fff;
  border-radius: 2.5rem;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  max-height: 80vh;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  padding: 0 24px;
  position: relative;
  min-height: 80vh;
}

.hidden {
  display: none;
}
